@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Next Art";
  src: url("../fonts/NEXT ART_Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Next Art";
  src: url("../fonts/NEXT ART_Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.section-subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #f2be22;
  margin-bottom: 8px;
}

.section-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 40px;
}

.section-destr {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 16px 36px;
  background-color: #1a3e3e;
  color: #fdfdfd;
  font-weight: 600;
  cursor: pointer;
}

.background-image-wrap {
  background-image: url("../img/hero-background.png");
  background-size: cover;
  background-position: center;
}

.header__container {
  padding: 16px 25px 0 5px;
  max-width: 1180px;
  margin: 0 auto;
  align-items: center;
  font-family: inherit;
  color: #fdfdfd;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 460px;
}

.header__nav-list {
  font-size: 18px;
}

.header__nav-item:not(:last-child) {
  margin-right: 24px;
}

.link-consalt {
  width: 157px;
  height: 44px;
  background: #1a3e3e;
  padding: 12px 24px;
  color: #fdfdfd;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  left: 33px;
}

/* HERO */

.hero__container {
  max-width: 1240px;
  padding-left: 35px;
  padding-right: 20px;
  margin: 0 auto;
  padding-bottom: 85px;
}

.hero__select {
  width: 100%;
  border: 0;
  cursor: pointer;
  padding: 14px 44px 14px 16px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  filter: invert(1);
  border: 1px solid #000000;
  font-family: "Nunito Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.hero__input {
  cursor: pointer;
  padding: 16px 1px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid #fdfdfd;
  justify-content: space-around;
}

.hero__input-group {
  color: #fdfdfd;
  background: none;
  border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 1;
}

.hero__button {
  align-self: flex-start;
  max-width: 213px;
  height: 52px;
  border-radius: 4px;
  padding: 16px 36px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.hero__label {
  width: 270px;
  flex-grow: 1;
}

.hero__label-descr {
  padding-top: 8px;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  color: #fdfdfd;
}

.hero__form {
  gap: 24px;
  max-width: 1180px;
  padding: 40px;
  background: #ffffff33;
  border-radius: 10px;
  flex-wrap: wrap;
}

.hero__title {
  font-family: "NEXT ART";
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  color: #fdfdfd;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

/* ABOUT */

.about__container {
  position: relative;
  justify-content: center;
  gap: 100px;
  max-width: 1240px;
  padding: 0 37px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about {
  padding: 100px 0;
}

.about__images {
  position: relative;
  max-width: 480px;
}

.about__images-top {
  z-index: -1;
  position: absolute;
}

.about__images-bottom {
  position: relative;
  padding-top: 125px;
  padding-left: 130px;
}

.about__images::after {
  content: "";
  position: absolute;
  top: 56.8%;
  left: 58.7%;
  height: 50px;
  width: 50px;
  background-image: url("../img/img-play.png");
}

.about__content {
  padding-top: 63px;
  padding-left: 16px;
  max-width: 580px;
  flex-grow: 1;
}

.about__descr {
  margin-bottom: 40px;
}

/* OFFER */

.offer {
  padding-left: 15px;
  background-color: #f3f5f4;
  padding-top: 76px;
  padding-bottom: 100px;
}

.offer__container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  max-width: 1240px;
  padding: 0 22px;
  margin: 0 auto;
}

.offer__content {
  width: 580px;
  /* height: 591px; */
  /* border: 1px solid #801111; */
}

.offer__images {
  display: flex;
  width: 510px;
  /* border: 1px solid #801111; */
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.offer__advantage-title {
  display: inline-block;
  align-items: center;
  margin-bottom: 2px;
}

.icon-offer1::before,
.icon-offer2::before,
.icon-offer3::before {
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  margin-right: 14px;
}
.icon-offer1::before {
  background-image: url("../img/offer-icon1.svg");
}
.icon-offer2::before {
  background-image: url("../img/offer-icon2.svg");
}
.icon-offer3::before {
  background-image: url("../img/offer-icon3.svg");
}

.offer__descr {
  margin-bottom: 40px;
}

.offer__advantage-content {
  margin-bottom: 40px;
}

.offer__advantage-destr {
  font-size: 14px;
  line-height: 20px;
}

.offer__images img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

/* DIRECTIONS */

.directions__container {
  max-width: 1240px;
  /* padding-left: 35px; */
  margin: 0 auto;
  padding-bottom: 85px;
  /* align-items: center; */
  flex-direction: column;
}

.directions__titles {
  text-align: center;
  padding-left: 16px;
}

.directions {
  padding-top: 83px;
  padding-bottom: 15px;
}

.directions__list {
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  padding-left: 15px;
}

.directions__item-content {
  position: relative;
  width: 380px;
  height: 500px;
}

.directions-rating1::before,
.directions-rating2::before,
.directions-rating3::before {
  position: absolute;
  display: flex;
  font-weight: 900;
  top: 50px;
  right: 0px;
  background-position: left center;
  background-size: 24px 24px;
  background-image: url(../img/star-icon.svg);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  height: 32px;
  width: 65px;
  padding-left: 30px;
  align-items: center;
}

.directions-rating1::before {
  content: "4.9";
}
.directions-rating2::before {
  content: "4.5";
}
.directions-rating3::before {
  content: "5.0";
}

.directions__item-img1 {
  background-image: url(../img/direction-pic1.png);
}

.directions__item-img2 {
  background-image: url(../img/direction-pic2.png);
}

.directions__item-img3 {
  background-image: url(../img/direction-pic3.png);
}

.directions__item {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 32px;
}

.directions__item-overlay {
  padding: 31px;
  position: absolute;
  left: 0;
  top: 80%;
  width: 380px;
  height: 500px;
  transition: top 0.3s ease-in-out;
  z-index: 1;
  backdrop-filter: blur(7px);
}

.directions__item:hover .directions__item-overlay,
.directions__item-overlay:hover {
  top: 0;
}

.item-overlay-header {
  margin-bottom: 100px;
}

.directions__item-overlay {
  color: #f3f5f4;
}

.directions__title {
  margin-bottom: 33px;
}

.directions__item-price {
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  padding: 8px 16px;
  align-self: center;
}

.directions__item-overlay-header {
  margin-bottom: 38px;
  justify-content: space-between;
}

.directions__btn {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 9px;
}

.directions__item-title-main {
  font-size: 24px;
  font-weight: 700px;
}

.directions__item-descr {
  line-height: 24px;
  margin-bottom: 105px;
}

.directions__cards {
  margin-bottom: 34px;
}

/* BLOG */

.blog {
  padding-top: 81px;
  background-color: #f3f5f4;
  padding-left: 0;
}

.blog__cards {
  padding-left: 20px;
}

.blog__title {
  margin-bottom: 43px;
}

.blog__container {
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.blog__titles {
  text-align: center;
  padding-left: 15px;
}

.blog__card {
  border-radius: 10px;
  background-color: #fdfdfd;
  padding: 14px 16px;
  height: 312px;
  max-width: 580px;
  gap: 25px;
}

.card-image1 {
  background-image: url("../img/blog-image1.png");
}

.card-image2 {
  background-image: url("../img/blog-image2.png");
}

.card-image3 {
  background-image: url("../img/blog-image3.png");
}

.card-image4 {
  background-image: url("../img/blog-image4.png");
}

.blog__card-image {
  width: 230px;
  height: 280px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog__card-content {
  flex-direction: column;
  width: 294px;
  height: 280px;
  padding: 16px 0;
}

.blog__card-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.blog__card-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: auto;
  justify-content: space-between;
}

.blog__card-destr {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
}

.blog__cards-list {
  flex-wrap: wrap;
  display: flex;
  gap: 22px;
  justify-content: center;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
}

.blog__button {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 9px;
}

.blog__card-date {
  color: #f2be22;
}

/* GALLERY */

.gallery {
  padding-top: 81px;
  padding-bottom: 0px;
}

.gallery__container {
  max-width: 1240px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.gallery__subtitle {
  text-align: center;
}

.gallery__photos {
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 30px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.gallery__btn {
  position: relative;
  left: 9px;
}

/* SUBSCRIBE */

.subscribe__container {
  top: 100px;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: 0 auto;
  /* align-items: center; */
  padding: 40px 100px 28px 100px;
  box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
  background-color: #fdfdfd;
  border-radius: 6px;
  gap: 64px;
  left: 9px;
}

.subscribe__button {
  padding: 12px 24px;
  margin-bottom: 10px;
}

.subscribe__info-label {
  font-size: 18px;
  color: #f2be22;
  display: block;
  margin-bottom: 6px;
}

.subscribe__form-input {
  width: 280px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: 12px 16px;
  background-color: #f3f5f4;
  border: none;
  margin-right: 11px;
  margin-bottom: 8px;
}

.subscribe__title {
  font-size: 26px;
  line-height: 31.2px;
}

.subscribe__info {
  width: 380px;
}

.subscribe__form {
  width: 536px;
}

.subscribe__form-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subscribe__terms {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.subscribe__link {
  text-decoration: underline;
}

/* FOOTER */

.footer {
  background-color: #1a3e3e;
  color: #ffffff;
  padding-top: 180px;
}

.footer__container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 73px;
}

.footer__content {
  justify-content: space-between;
  position: relative;
  left: 10px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__content-info {
  width: 480px;
  padding-right: 24px;
  line-height: 24px;
}

.footer__content-info-text {
  margin-bottom: 80px;
}

.footer__content-services {
  width: 280px;
  position: relative;
  left: -50px;
}
.footer__content-important {
  /* padding-left: 75px; */
  width: 280px;
}

.footer-title {
  font-weight: 700;
  font-size: 20px;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.footer__content-services-item,
.footer__content-important-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__content-services-item {
  position: relative;
}

.footer__content-services-item::before {
  content: "";
  display: inline-block;
  background-image: url("../img/footer-arrow.svg");
  background-repeat: no-repeat;
  height: 14px;
  width: 10px;
  margin-right: 7px;
}

.footer__content-important-item::before {
  content: "";
  display: inline-block;
  background: url("../img/footer-arrow.svg");
  background-repeat: no-repeat;
  height: 14px;
  width: 10px;
  margin-right: 10px;
  left: -3px;
  position: absolute;
}

.footer__content-important-list {
  position: relative;
  padding-left: 17px;
}

.footer__content-info-title {
  margin-bottom: 20px;
}

.footer__content-info-contact {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  margin-right: 16px;
}

.footer__content-info-contacts {
  margin-bottom: 27px;
}

.footer__social-link {
  margin-right: 11px;
}

.footer__content-services-title {
  margin-bottom: 20px;
}

.footer__content-important-title {
  margin-bottom: 20px;
}

.footer__copyrights {
  background-color: #000000;
}

.footer__copyrights__container {
  position: relative;
  left: 10px;
  justify-content: space-between;
  max-width: 1240px;
  padding: 24px 30px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.footer__copyrights-link {
  text-decoration: underline;
}

.new-lable::after {
  content: "";
  display: inline-block;
  background-image: url(../img/icon-new.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 2px;
}
